@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --primary-color: #021d11;
    --secondary-color: #eff4c8;
    --accent1-color: #003156;
    --accent2-color: #dbfde3;

    --heading-font: "Raleway", san-serif;
    --paragraph-font: "Raleway", san-serif;

    --nav-background-color: #021d11;
    --nav-link-color: #eff4c8;
    --nav-hover-link-color: #e1d5bb ;
    --nav-hover-background-color: #eff4c8;
}
body {
    font-family: var(--paragraph-font);
    padding: 0px;
    margin:0;    
    box-sizing:border-box;
    max-width: 1200px;
}
header { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: var(--nav-background-color);
}
header img {   /*logo*/
    height: 100px;
}
p {
    padding: 25px;
}
nav {
    display: flex;
    justify-content: center;
    padding-right: 30px;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    margin-left: 30px;
}

h1, h2 {
    text-align: center; 
}
.hero {
    position: relative;
    background-size: cover; 
    background-position: center; 
    overflow: hidden; 
}
.hero img {
    width: 100%; 
    display: block;
    height: auto;
}
.hero h1 {
    position: absolute; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color:var(--secondary-color)
}
.hero article {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
    color: white; 
    width: 900px; 
}
.hero article img {
    float: right;
    width: 200px;
    margin-left: 20px; 
}
.hero article p{
    font-size: 1.1em; 
    text-align: right; 
    flex-grow: 1; 
}
section {
    padding: 20px;
}
section h2 {
    color: var(--accent1-color);
}

.History {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; 
}

.History h2 {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%; 
}

.History img {
    max-width: 35%;
    flex: 0 0 auto;
    margin: 0 20px;
}

.History p {
    text-align: justify;
    flex: 1;
    padding: 0 20px; 

.Adventures {
    max-width: 1200px;
    overflow-x: auto;
    margin: 0 auto; 
    padding-bottom: 20px; 
}

.Adventures-images {
    display: flex;
    flex-wrap: nowrap;
}

.Adventures figure {
    flex: 0 0 auto;
    margin-right: 0px;
    max-width: calc(85% / 5 - 5px);
}

.Adventures img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.Adventures figcaption {
    text-align: center;
}


/* Styles for footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}

footer a img {
    height: 30px;
    margin-right: 5px;
}

footer p {
    margin-left: auto;
    margin-right: 100px;
}

footer .sociallinks {
    display: flex;
    align-items: flex-end; 
}

footer .sociallinks a {
    margin-right: 5px;
}

footer a img {
    height: 30px; 
}