* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .grid, footer {
    max-width: 840px;
    margin:0 auto;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 5px;
}

aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height:auto;
    float: right;
}
.grid{
    display: grid;
    align-items:center;
}
main{
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    width: 20rem;
    position: relative;
    grid-column:1/2;
    grid-row: 1/2;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 120px;
}

footer{
    text-align: center;
}